<h1 class="text" ><%= image_tag("hearts2.jpg", size: "50x50", class: "header")%> Editing favorite things for <%= @person.name %> <%= image_tag("hearts2.jpg", size: "50x50", class: "header")%> </h1>
<hr>

<%= render(partial: 'form') %>