<div class="row">
	<div class="header col s6 offset-s3">
	  <h1 ><%= image_tag("hearts2.jpg", size: "50x50")%> Adding new favorite things for <%= @person.name %> <%= image_tag("hearts2.jpg", size: "50x50")%> </h1>
	</div>
</div>

<%= render(partial: 'form') %>

<hr>