<nav>
  <div class="nav-wrapper">
  <h2 class = "brand-logo"><%= link_to "You can't make this up", people_path %></h2>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <%= link_to 'All Peoples', people_path %>
      </li>

    </ul>
  </div>
</nav>
