
<h1 class="text" ><%= image_tag("hearts2.jpg", size: "50x50", class: "header")%> Editing: <%= @person.name %> <%= image_tag("hearts2.jpg", size: "50x50", class: "header")%> </h1>


<%= render(partial: 'form') %>
