
<h1 class="text" ><%= image_tag("hearts2.jpg", size: "50x50", class: "header")%> Welcome new person. Good luck, you're going to need it. Seriously. Because there's no way someone could possibly love you. <%= image_tag("hearts2.jpg", size: "50x50", class: "header")%> </h1>

<%= render(partial: 'form') %>
