<div class="row">
	<div class="header col s6 offset-s3">
	  <h1 ><%= image_tag("hearts2.jpg", size: "50x50")%> Welcome new person. Good luck, you're going to need it. Seriously. Because there's no way someone could possibly love you.  <%= image_tag("hearts2.jpg", size: "50x50")%> </h1>
	</div>
</div>
<%= render(partial: 'form') %>
