<h1>  <%= @person.address.state %>  </h1>

</p>
<%= link_to 'Edit', edit_person_address_path(@person, @person.address) %>
<%= link_to 'Delete', person_address_path(@person, @person.address), method: :delete, data:{confirm: 'Really Delete?'} %>
